@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
    animation: rotateCircle 4s linear infinite;
  }

  /* Animation to rotate the circle */
  @keyframes rotateCircle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  